<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detailed Form</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel = "stylesheet"  href = "/static/style/index.css"> 
 
</head>
<h1> Scenario Agent </h1>
<body>
  <form action="/submit_form" method="POST">

    <label for="question1">Source Data Format</label>
      <select id="question1" name="data_type" required>
        <option value="" selected disabled>-- Select an Option --</option>
        <option value="structured">Structured</option>
        <option value="semi-structured">Semi-Structured</option>
        <option value="mixture">Mixture of Both</option>
      </select>
    
    <label for="question2">End Goal for Data</label>
      <select id="question2" name="end_goal" required>
        <option value="" selected disabled>-- Select an Option --</option>
        <option value="storage">Store in a Database</option>
        <option value="dashboard"> Dashboard/Analytics </option>
        <option value="graph">Represent as Graph</option>

      </select>
  
    <label for="question3">Nature of Data?</label>
      <select id="question3" name="nature" required>
        <option value="" selected disabled>-- Select an Option --</option>
        <option value="batch">Batch Data</option>
        <option value="streaming">Streaming Data</option>
      </select>
  
    <label for="question4" required>Transformations Needed?</label>
      <select id="question4" name="transformation" required>
        <option value="" selected disabled>-- Select an Option --</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <input type="submit" value="Submit">
  </form>



<div class="coach">
  <div class = 'flowrence'>
    Helper 
    </div>

  <div class = 'flowrence_prompt'>
  Stuck? Ask Helper for help with your data pipeline questions! 
  </div>
  <br>

  <div class="options">
    <button class="option"  id="dataFormatOption">What's my data format?</button>
    <button class="option"  id="dataSourceOption">How do I identify data sources?</button>
    <button class="option"  id="dataTransformOption">What are transformations?</button>
  </div>

  
</div>




<section class="chat-window">
  <button class="close" type = button>x close</button>
  <div class="chat">
      <div class="model">
          <p>Hi, how can I help you?</p>
      </div>
      
  </div>
  <div class="input-area">
      <input placeholder="Ask me anything..." type="text">
      <button type = button>
          <img src="/static/images/send.svg" style="width: 30px; height:30px;"/>
      </button>
  </div>
</section>

<div class="chat-button" type = button>
  <img src="/static/images/chat.svg" style="width: 30px; height: 30px;"/>
</div>

<script type="importmap">
  {
    "imports": {
      "@google/generative-ai": "https://esm.run/@google/generative-ai"
    }
  }
</script>





<script type="module" src = '/static/js/index.js'> </script>

</body>
</html>
