<link rel = "stylesheet"  href = "/static/style/loading.css"> 
 
<h2>Loading Services...</h2>


<ul id="services-list">
    {% for service, port in services.items() %}
    <li>
        <!-- We start with a spinner for every service -->
        <span id="icon-{{ service }}" class="spinner" data-service="{{ service }}"></span>
        <span>  {{ service }}
        </span>  
    </li>
    {% endfor %}
</ul>

<div id='rocket-container'>
    <img scr='/static/images/rocket.svg' id ="rocket">
</div>
    <script>
        window.healthyContainers = {{ healthy_containers|tojson }};

      </script>
<script src = '/static/js/loading.js' type = module> </script>

